/target
*~
/vendor
.flatpak-builder
build-dir
repo
flatpak/generated-sources.json
windows/*
!windows/make-bundle.ps1
!windows/build.ps1
resources/resources.gresource
resources/resources.xml
/prime
*.snap
*.flatpak
/boop-gtk.windows
boop-gtk.windows.msi
