[submodule "submodules/Boop"]
	path = submodules/Boop
	url = https://github.com/IvanMathy/Boop.git
[submodule "submodules/flatpak-builder-tools"]
	path = submodules/flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
[submodule "submodules/svg-stroke-to-path"]
	path = submodules/svg-stroke-to-path
	url = https://github.com/leifgehrmann/svg-stroke-to-path.git
[submodule "submodules/fyi.zoey.Boop-GTK"]
	path = submodules/fyi.zoey.Boop-GTK
	url = https://github.com/flathub/fyi.zoey.Boop-GTK.git
