name: Continuous integration

on:
  push:
    branches: [ trunk ]
  pull_request:
    branches: [ trunk ]

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: check, test, fmt, clippy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: Install rust
      uses: hecrj/setup-rust-action@v1
      with:
        components: clippy, rustfmt
        rust-version: 1.46.0
    - name: Cache cargo
      uses: actions/cache@v2.1.4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Dependencies
      run: sudo apt-get update -y && sudo apt-get install -y libgtk-3-dev libgtksourceview-3.0-dev
    - name: Check
      run: cargo check
    - name: Test
      run: cargo test -- --nocapture
    - name: Fmt
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy -- -D warnings
  
  snap:
    name: snap
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: snapcore/action-build@v1

  flatpak:
    runs-on: ubuntu-latest
    container:
      image: docker.io/bilelmoussaoui/flatpak-github-actions
      options: --privileged
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: Dependency (Python TOML)
        run: sudo dnf install -y python3-toml
      - name: Generate sources
        run: bash flatpak/gen-sources.sh
      - uses: bilelmoussaoui/flatpak-github-actions@v2
        with:
          manifest-path: "flatpak/fyi.zoey.Boop-GTK.json"